<div class="container">
    <div class="row">
        <div class="col-12">
            <input type="text" #termino (keyup)="search(termino.value)" placeholder="Buscar..." class="form-control">
        </div>
    </div>
</div>
<div class="container py-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div *ngFor="let artista of artistas" class="col">
            <div class="card">
                <img [src]="artista.images | noimage" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        {{artista.name}}
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>